
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d95f;
  width: 91%;
  padding: 8px;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 0px 4px 4px 0px rgba(39, 39, 39, 0.25);
}

.btn-show{
  margin: 0;
  border: none;
  background-color: rgba(80, 132, 227, 0.73);
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.card-recipe-img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-info h2{
  font-family:Arial, Helvetica, sans-serif;
}

.container-error-message{
  display: flex;
  justify-content: center;
  width: 100%;
}

.error-message{
  padding-top: 50px ;
  width: 90%;
  margin: auto;
  align-items: center;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}